<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
    <h1>상품 등록</h1>
    <form>
        <div>
            <a>상품 명:</a>
            <input type="text" id="name"/>
        </div>
        <div>
            <a>제조원:</a>
            <input type="e" id="category"/>
        </div>
        <div>
            <a>가격:</a>
            <input type="email" id="price"/>
        </div>
        <div>
            <a>카테고리:</a>
            <input type="text" id="manufacturer"/>
        </div>
        <div>
            <a>이미지 URL:</a>
            <input type="text" id="imgUrl"/>
        </div>
        <div>
            <button onclick="register()">상품 등록 하기</button>
        </div>
    </form>

    <h1>카테고리 추가하기</h1>
    <form>
        <div>
            <a>카테고리 이름:</a>
            <input type="text" id="name"/>
        </div>
        <div>
            <button onclick="register()">카테고리 등록</button>
        </div>
    </form>
</body>
</html>