<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <form>
        <div>
            <input type="email" name="userId"/>
        </div>
        <div>
            <input type="text" name="userName"/>
        </div>
        <div>
            <input type="e" name="password"/>
        </div>
        <div>
            <input type="text" name="phone"/>
        </div>
        <div>
            <button>회원 가입 하기</button>
        </div>
    </form>

</body>
</html>