<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> 인덱스 페이지 </h1>
    <div>
        <a href="member/registerPage">회원 가입</a>
        |
        <a href="loginPage">로그인</a>
        |
        <a href="member/logout">로그 아웃</a>
        |
        <a href="product/productRegister.html">상품 등록</a>
        |
        <a href="product/search.html">상품 등록</a>
        |
        <a href="/testPage">테스트 페이지</a>
        |
        <a href="cartPage">장바구니</a>
    </div>
    </hr>

</body>
</html>
